<body>
    <div class="container blog-cards">
        {{!-- loops over each blog in array --}}
        {{#each blogs as |blog| }}
        <div class="card">
            <div class="card-header">
                Posted by {{blog.user.name}} on {{blog.date_created}}
                {{!-- Posted by {{}} on {{date_created}} --}}
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="/blog/{{blog.id}}">{{blog.title}}</a></h5>
                <p class="card-text">{{blog.contents}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</body>